<h1>{{title}}</h1>
  <a (click)="toggleProductView()">{{switchViewText}}</a>
  <table>
    <th>
      Name
    </th>
    <th>Rate Type
      <select [(ngModel)]="selectedRate">
        <option [(ngValue)]="ALL" selected>ALL</option>
        <option *ngFor="let product of products | unique:'type'">{{product.type}}</option>
      </select>
    </th>
    <th>
      Rate
      <a (click)="toggleSortRate()">{{rateSortText}}</a>
    </th>
    <!-- slice: 0:3 | -->
    <tr *ngFor="let product of products
                  | filter:'type':(selectedRate == 'ALL' ? undefined : selectedRate)
                  | slice:0:limit
                  | sort:'rate':rateSortType">
      <td>{{ product.name }}</td>
      <td>{{ product.type }}</td>
      <td>{{ product.rate }}</td>
    </tr>
  </table>
